# Python for finance, Yves Hilpish: Chapter 1

## Black-Scholes-Merton (1973) index level at maturity:
$
S_T = S_0 \exp\left(\left(r - \frac{1}{2}\sigma^2\right)T + \sigma\sqrt{T}z\right)
$
## Monte Carlo estimator for European option
$
C_0 \approx e^{-rT} \frac{1}{I} \sum_{i} h_T(i)
$

In [ ]:
#
# Monte Carlo valuation of European call option
# in Black-Scholes-Merton model
# bsm_mcs_euro.py
#
# Python for Finance, 2nd ed.
# (c) Dr. Yves J. Hilpisch


import math
import numpy as np

# Parameter Values
S0 = 100. # initial index level
K = 105. # strike price
T = 1.0 # time-to-maturity
r = 0.05 # riskless short rate
sigma = 0.2 # volatility
I = 100000 # number of simulations

# Valuation Algorithm
z = np.random.standard_normal(I) # pseudo-random numbers

# index values at maturity
ST = S0 * np.exp((r - 0.5 * sigma ** 2) * T + sigma * math.sqrt(T) * z)
hT = np.maximum(ST - K, 0) # payoff at maturity
C0 = math.exp(-r * T) * np.mean(hT) # Monte Carlo estimator

# Result Output
print('Value of the European call option %5.3f.' % C0)

Value of the European call option 8.046.

*NumPy* is used here as the main package.<br>
The model and simulation parameter values are defined.<br>
The seed value for the random number generator is fixed.<br>
Standard normally distributed random numbers are drawn.<br>
End-of-period values are simulated.<br>
The option payoffs at maturity are calculated.<br>
The Monte Carlo estimator is evaluated.<br>
The resulting value estimate is printed<br>

## The Python interpreter needs about 1.6 seconds in this case to evaluate the function f() 2,500,000 times.<br>
$
f(x) = 3 \ln x + \cos^2 x
$

In [4]:
import math
loops = 2500000
a = range(1, loops)
def f(x):
   return 3 * math.log(x) + math.cos(x) ** 2
%timeit r = [f(x) for x in a]

1.02 s ± 72.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

Same task completed by *Numpy*

In [5]:
import numpy as np
a = np.arange(1, loops)
%timeit r = 3 * np.log(a) + np.cos(a) ** 2

83.3 ms ± 9.85 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

# Chapter 2

## Anaconda

In [ ]:
# INSTALL PYTHON LIBRARIES in miniconda powershell:
conda update -y conda python # updates conda & Python (if required)
conda install -y pandas # installs pandas
conda install -y ipython # installs IPython shell

In [ ]:
conda install -y jupyter # interactive data analytics in the browser
conda install -y pytables # wrapper for HDF5 binary storage
conda install -y pandas # data analysis package
conda install -y matplotlib # standard plotting library
conda install -y scikit-learn # machine learning library
conda install -y openpyxl # library for Excel interaction
conda install -y pyyaml # library to manage YAML files
pip install --upgrade pip # upgrades the package manager
pip install cufflinks # combining plotly with pandas

# Chapter 3: Data types and structures
| Object type | Meaning               | Used for                  |
|-------------|-----------------------|---------------------------|
| *int*         | Integer value         | Natural numbers           |
| *float*       | Floating-point number | Real numbers              |
| _bool_        | Boolean value         | Something true or false   |
| _str_         | String object         | Character, word, text     |
| *tuple*       | Immutable container   | Fixed set of objects, record |
| *list*        | Mutable container     | Changing set of objects |
| *dict*        | Mutable container     | Key value store |
| *set*         | Mutable container     | Collection of unique objects |

## integers

In [9]:
a = 10
type(a)

int

In [10]:
a.bit_length()

4

In [ ]:
a = 100000
a.bit_length()

17

In [12]:
googol = 10 ** 100
googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [13]:
googol.bit_length()

333

In [15]:
1+4

5

In [16]:
1/4

0.25

In [17]:
type(1/4)

float

## float <br>
Adding a dot to an integer value, like in 1. or 1.0, causes Python to interpret the object as a float

In [18]:
1.6/4
type(1.6/4)

float

In [ ]:
type(4/8+1)

float

In [20]:
c = 0.5
c.as_integer_ratio()

(1, 2)

0.5 =  $\frac{1}{2}$

In [21]:
b = 0.35
b.as_integer_ratio()

(3152519739159347, 9007199254740992)

The precision is dependent on the number of bits used to represent the number. In general, all platforms that Python runs on use the IEEE 754 double-precision stan‐ dard—i.e., 64 bits—for internal representation. *This translates into a 15-digit relative accuracy.*

### The module *decimal* provides an arbitrary-precision object for floating-point numbers and several options to address precision issues when working with such numbers

In [6]:
import decimal
from decimal import Decimal
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [7]:
d = Decimal(1) / Decimal (11)
d

Decimal('0.09090909090909090909090909091')

### change the precision of the representation by changing the respective attribute value of the *Context* object

In [8]:
decimal.getcontext().prec = 4 

e = Decimal(1) / Decimal (11)
e

Decimal('0.09091')

In [9]:
decimal.getcontext().prec = 50 
In [21]: f = Decimal(1) / Decimal (11)
f

Decimal('0.090909090909090909090909090909090909090909090909091')

In [10]:
g = d + e + f
g

Decimal('0.27272818181818181818181818181909090909090909090909')

## *True* and *False* are of data type bool, standing for *Boolean* value.

In [11]:
import keyword
keyword.kwlist
['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [12]:
4 > 3

True

In [13]:
type(4 > 3)

bool

In [14]:
type(False)

bool

In [15]:
4 >= 3

True

In [16]:
4 < 3

False

In [17]:
4 <= 3

False

In [18]:
4 == 3

False

In [19]:
4 != 3

True

!= means is not equal

In [20]:
True and True

True

In [21]:
True and False

False

In [22]:
False and False

False

In [23]:
True or True

True

In [24]:
False or True

True

In [25]:
not True

False

In [26]:
not False

True

## *if* or *while*

In [27]:
if 4 > 3: 
    print('condition true')

condition true

In [ ]:
i = 0 
while i < 4: 
    print('condition true, i = ', i) 
    i += 1       # Increases the parameter value by 1; i += 1 is the same as i = i + 1

condition true, i =  0
condition true, i =  1
condition true, i =  2
condition true, i =  3

## Use *bool* function, a value of 0 to False and a value of 1 to True

In [30]:
int(True)

1

In [31]:
int(False)

0

In [33]:
float(True)

1.0

In [34]:
float(False)

0.0

In [35]:
bool(0)

False

In [36]:
bool(1)

True

In [1]:
bool(0.0)

False

In [2]:
bool(10.5)

True

In [3]:
bool(-2)

True

## Strings

In [4]:
t = 'this is a string project'
t.capitalize()

'This is a string project'

In [6]:
t.split()

['this', 'is', 'a', 'string', 'project']

In [ ]:
t.find('string')       #index of substring 'string' in t

10

In [ ]:
t.find('python')      #index of substring 'python' in t, returns -1 if not found

-1

In [9]:
t.replace(' ', '|')

'this|is|a|string|project'

In [10]:
'http://www.python.org'.strip('htp:/')

'www.python.org'

| Method       | Arguments                     | Returns/result                                                                 |
|--------------|-------------------------------|--------------------------------------------------------------------------------|
| capitalize   | ()                            | Copy of the string with first letter capitalized                               |
| count        | (sub[, start[, end]])         | Count of the number of occurrences of substring                                |
| encode       | ([encoding[, errors]])        | Encoded version of the string                                                  |
| find         | (sub[, start[, end]])         | (Lowest) index where substring is found                                        |
| join         | (seq)                         | Concatenation of strings in sequence seq                                       |
| replace      | (old, new[, count])           | Replaces old by new the first count times                                      |
| split        | ([sep[, maxsplit]])           | List of words in string with sep as separator                                  |
| splitlines   | ([keepeends])                 | Separated lines with line ends/breaks if keepeends is True                     |
| strip        | (chars)                       | Copy of string with leading/trailing characters in chars removed               |
| upper        | ()                            | Copy with all letters capitalized                                              |

In [2]:
print('Python for Finance')

Python for Finance

In [7]:
i = 0
while i < 4:
    print(i)
    i += 1

0
1
2
3

In [8]:
i = 0
while i < 4:
    print(i, end='|') 
    i += 1

0|1|2|3|

## string replacement

In [9]:
'this is an integer %d' % 15

'this is an integer 15'

In [10]:
'this is an integer {:d}'.format(15)

'this is an integer 15'

In [11]:
'this is an integer %4d' % 15
'this is an integer {:4d}'.format(15)

'this is an integer   15'

In [12]:
'this is an integer %04d' % 15
'this is an integer {:04d}'.format(15)

'this is an integer 0015'

In [13]:
'this is a float %f' % 15.3456
'this is a float {:4f}'.format(15.3456)

'this is a float 15.345600'

In [14]:
'this is a float %.2f' % 15.3456
'this is a float {:.2f}'.format(15.3456)

'this is a float 15.35'

In [16]:
'this is a float %8f' % 15.3456
'this is a float {:8f}'.format(15.3456)

'this is a float 15.345600'

In [17]:
'this is a float %8.2f' % 15.3456
'this is a float {:8.2f}'.format(15.3456)

'this is a float    15.35'

In [18]:
'this is a float %08.2f' % 15.3456
'this is a float {:08.2f}'.format(15.3456)

'this is a float 00015.35'

In [19]:
'this is a string %s' % 'Python'
'this is a string {}'.format('Python')

'this is a string Python'

In [2]:
'this is a string %10s' % 'Python'

'this is a string     Python'

In [3]:
'this is a string {:10s}'.format('Python')

'this is a string Python    '

## *while*

In [5]:
i = 0
while i < 4:
    print('the number is %d' % i)
    i += 1

the number is 0
the number is 1
the number is 2
the number is 3

In [6]:
i = 0
while i < 4:
    print('the number is {:d}'.format(i))
    i += 1

the number is 0
the number is 1
the number is 2
the number is 3

## Regular Expressions

In [7]:
import re

In [12]:
series = """
 '01/18/2014 13:00:00', 100, '1st';
 '01/18/2014 13:30:00', 110, '2nd';
 '01/18/2014 14:00:00', 120, '3rd'
 """

result = dt.findall(series)
result

["'01/18/2014 13:00:00'", "'01/18/2014 13:30:00'", "'01/18/2014 14:00:00'"]

In [13]:
from datetime import datetime
pydt = datetime.strptime(result[0].replace("'", ""),
                         '%m/%d/%Y %H:%M:%S')

pydt

datetime.datetime(2014, 1, 18, 13, 0)

In [14]:
print(pydt)

2014-01-18 13:00:00

In [15]:
print(type(pydt))

<class 'datetime.datetime'>

## Data structure: tuple

In [ ]:
t = (1, 2.5, 'data')

type(t) #tuple means immutable list

tuple

Python uses zero-based numbering schemes. For example, the first element of a tuple object has index value 0.

In [17]:
t.count('data')

1

In [18]:
t.index(2.5)

1

In [19]:
t.index(1)

0

## Data structure: lists

In [39]:
l = [1, 2.5, 'data']

l[2]

'data'

In [40]:
l = list(t)

l

[1, 2.5, 'data']

In [41]:
l.append([4, 3]) 

l # l represents the list after appending

[1, 2.5, 'data', [4, 3]]

In [42]:
l.extend([1.0, 1.5, 2.0]) 

l

[1, 2.5, 'data', [4, 3], 1.0, 1.5, 2.0]

In [43]:
l.insert(1, 'insert')
l

[1, 'insert', 2.5, 'data', [4, 3], 1.0, 1.5, 2.0]

In [44]:
l.remove('data')
print(l)

[1, 'insert', 2.5, [4, 3], 1.0, 1.5, 2.0]

In [45]:
p = l.pop(3) 
print(l, p)

[1, 'insert', 2.5, 1.0, 1.5, 2.0] [4, 3]

## slicing

In [46]:
l[2:5]

[2.5, 1.0, 1.5]

| Method     | Arguments                          | Returns/result                                                                 |
|------------|------------------------------------|--------------------------------------------------------------------------------|
| l[i] = x   | [i]                                | Replaces i-th element by x                                                     |
| l[i:j:k] = s | [i:j:k]                           | Replaces every k-th element from i to j−1 by s                               |
| append     | (x)                                | Appends x to object                                                            |
| count      | (x)                                | Number of occurrences of object x                                              |
| del l[i:j:k]| [i:j:k]                           | Deletes elements with index values i to j−1 and step size k                  |
| extend     | (s)                                | Appends all elements of s to object                                          |
| index      | (x[, i[, j]])                      | First index of x between elements i and j−1                                   |
| insert     | (i, x)                             | Inserts x at/before index i                                                    |
| remove     | (x)                                | Removes element x at first match                                               |
| pop        | (i)                                | Removes element with index i and returns it                                  |
| reverse    | ()                                 | Reverses all items in place                                                    |
| sort       | ([cmp[, key[, reverse]]])          | Sorts all items in place                                                       |

## control structure

In [47]:
for element in l[2:5]:
    print(element ** 2)

6.25
1.0
2.25

In [48]:
r = range(0, 8, 1) 

r

range(0, 8)

In [49]:
type(r)

range

In [50]:
for i in range(2, 5):
    print(l[i] ** 2)

6.25
1.0
2.25

In [51]:
for i in range(1, 10):
   if i % 2 == 0: 
     print("%d is even" % i)
   elif i % 3 == 0:
     print("%d is multiple of 3" % i)
   else:
     print("%d is odd" % i)

1 is odd
2 is even
3 is multiple of 3
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is multiple of 3

In [52]:
total = 0
while total < 100:
    total += 1
    print(total)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [53]:
m = [i ** 2 for i in range(5)]
m

[0, 1, 4, 9, 16]

## Functional Programming

In [54]:
def f(x):
    return x ** 2
f(2)

4

In [ ]:
def even(x):
    return x % 2 == 0 # this means that the function returns True if x is even and False if x is odd
even(3)

False

In [56]:
list(map(even, range(10)))

[True, False, True, False, True, False, True, False, True, False]

In [57]:
list(map(lambda x: x ** 2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [58]:
list(filter(even, range(15)))

[0, 2, 4, 6, 8, 10, 12, 14]

## dict: dictionaries, and also mutable sequences, that allow data retrieval by keys

In [59]:
d = {
 'Name' : 'Angela Merkel',
 'Country' : 'Germany',
 'Profession' : 'Chancelor',
 'Age' : 64
 }

type(d)

dict

In [60]:
print(d['Name'], d['Age'])

Angela Merkel 64

In [61]:
for item in d.items():
   print(item)

('Name', 'Angela Merkel')
('Country', 'Germany')
('Profession', 'Chancelor')
('Age', 64)

In [62]:
for value in d.values():
    print(type(value))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

| Method     | Arguments       | Returns/result                                 |
|------------|------------------|------------------------------------------------|
| d[k]       | [k]              | Item of d with key k                           |
| d[k] = x   | [k]              | Sets item key k to x                           |
| del d[k]   | [k]              | Deletes item with key k                        |
| clear      | ()               | Removes all items                              |
| copy       | ()               | Makes a copy                                   |
| items      | ()               | Iterator over all items                        |
| keys       | ()               | Iterator over all keys                         |
| values     | ()               | Iterator over all values                       |
| popitem    | (k)              | Returns and removes item with key k            |
| update     | ([e])            | Updates items with items from e                |

## sets

In [63]:
s = set(['u', 'd', 'ud', 'du', 'd', 'du'])

s

{'d', 'du', 'u', 'ud'}

In [66]:
t = set(['d', 'dd', 'uu', 'u'])
s.union(t)

{'d', 'dd', 'du', 'u', 'ud', 'uu'}

In [67]:
s.intersection(t)

{'d', 'u'}

In [68]:
s.difference(t)

{'du', 'ud'}

In [69]:
t.difference(s)

{'dd', 'uu'}

In [70]:
s.symmetric_difference(t)

{'dd', 'du', 'ud', 'uu'}

In [ ]:
from random import randint
l = [randint(0, 10) for i in range(1000)]          # 1,000 random integers between 0 and 10.

len(l)

1000

In [80]:
l[:20]

[4, 9, 1, 7, 8, 3, 8, 9, 2, 9, 2, 1, 6, 6, 7, 3, 4, 8, 5, 1]

In [81]:
s = set(l)

s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Basic data types<br>
In Python in general and finance in particular, the classes *int, float, bool, and str* provide the atomic data types.<br>

Standard data structures<br>
The classes *tuple, list, dict, and set* have many application areas in finance, with list being a flexible all-rounder for a number use cases.